extends layout

block pageTitle
	div.row.jumbotron
		div.col-md-12 About Us!
block pageContent
	.container
		div.row
			div.col-md-4.bg-success This Page needs more development
			div.col-md-4.bg-success This is the development page for the Socketblaster Software Engineering project!
			div.col-md-4.bg-success And pictures too
