
extends layout

block pageTitle
	div.row.jumbotron
		div.col-md-12 Create a Listing!
block pageContent
	h1= title
	div.row
	#addListing
		div.col-md-5
			label Item Name
			input#inputItemName(type='text', placeholder='Item Name', class="form-control")
			label Item Price
			input#inputItemPrice(type='text', placeholder='Item Price', class="form-control")
			label Item Description
			input#inputItemDesc(type='text', placeholder='Item Description', class="form-control")
			label(for="sel1") Item Location
			select.form-control#sel1
				option Alabama 
				option Alaska 
				option Arizona 
				option Arkansas 
				option California 
				option Colorado 
				option Connecticut 
				option Delaware 
				option Florida 
				option Georgia 
				option Hawaii 
				option Idaho 
				option Illinois 
				option Indiana 
				option Iowa 
				option Kansas 
				option Kentucky 
				option Louisiana 
				option Maine 
				option Maryland 
				option Massachusetts 
				option Michigan 
				option Minnesota 
				option Mississippi 
				option Missouri 
				option Montana 
				option Nebraska 
				option Nevada 
				option New Hampshire 
				option New Jersey 
				option New Mexico 
				option New York 
				option North Carolina 
				option North Dakota 
				option Ohio 
				option Oklahoma 
				option Oregon 
				option Pennsylvania 
				option Rhode Island 
				option South Carolina 
				option South Dakota 
				option Tennessee 
				option Texas 
				option Utah 
				option Vermont 
				option Virginia 
				option Washington 
				option West Virginia 
				option Wisconsin 
				option Wyoming
			br
			button#btnAddListing(class="btn btn-lg btn-primary btn-block") Post Listing
		div.col-md-2
		div.col-md-5
			form(id="uploadForm" action="/createlisting" enctype = "multipart/form-data"  method="post")
				input(type="file" name="userPhoto")
				input(type="submit" value="Upload Image" name="submit")
			
			
			//input(type="file" id="files" name="files[]" multiple)
			//output(id="list")
			
	script(src='/javascripts/addlistings.js')
