
extends layout

block pageTitle
	div.row.jumbotron
		div.col-md-12 Create a Listing!
block pageContent
	h1= title
	p This creates a listing
		#addListing
			input#inputItemName(type='text', placeholder='Item Name', class="form-control")
			input#inputItemPrice(type='text', placeholder='Item Price', class="form-control")
			input#inputItemDesc(type='text', placeholder='Item Description', class="form-control")
			input#inputItemLoc(type='text', placeholder='Location', class="form-control")
			br
			button#btnAddListing(class="btn btn-lg btn-primary btn-block") Post Listing
	script(src='/javascripts/addlistings.js')
