//- 			label(for="cat") Item Category
//- 			select.form-control#cat
//- 				option All
//- 				option Electronics 
//- 				option Clothing
//- 				option Accessories
//- 				option Entertainment/Media
//- 				option Hobby/Crafts
//- 				option Books
//- 				option Other
//- 			br
//- 			button#btnAddListing(class="btn btn-lg btn-primary btn-block") Post Listing
//- 	script(src='/javascripts/addlistings.js')

extends layout
block pageTitle
    div.row.jumbotron
        div.col-md-12 Create a Listing!
block pageContent
    h1= title
    div.row
    #addListing
        div.col-md-5
            form(id="uploadForm" action="/createlisting" enctype = "multipart/form-data"  method="post")
                input(type="file" name="userPhoto")
                input(type="text" name="itemname" placeholder='Item Name', class="form-control")
                input(type="text" name="itemprice" placeholder='Item Price', class="form-control")
                input(type="text" name="itemdescription" placeholder='Item Description', class="form-control")
                input(type="hidden" name="user" value='username', class="form-control")
                select.form-control(name="itemlocation")
                    option Alabama 
                    option Alaska 
                    option Arizona 
                    option Arkansas 
                    option California 
                    option Colorado 
                    option Connecticut 
                    option Delaware 
                    option Florida 
                    option Georgia 
                    option Hawaii 
                    option Idaho 
                    option Illinois 
                    option Indiana 
                    option Iowa 
                    option Kansas 
                    option Kentucky 
                    option Louisiana 
                    option Maine 
                    option Maryland 
                    option Massachusetts 
                    option Michigan 
                    option Minnesota 
                    option Mississippi 
                    option Missouri 
                    option Montana 
                    option Nebraska 
                    option Nevada 
                    option New Hampshire 
                    option New Jersey 
                    option New Mexico 
                    option New York 
                    option North Carolina 
                    option North Dakota 
                    option Ohio 
                    option Oklahoma 
                    option Oregon 
                    option Pennsylvania 
                    option Rhode Island 
                    option South Carolina 
                    option South Dakota 
                    option Tennessee 
                    option Texas 
                    option Utah 
                    option Vermont 
                    option Virginia 
                    option Washington 
                    option West Virginia 
                    option Wisconsin 
                    option Wyoming
                select.form-control(name="category")
                    option All
                    option Electronics
                    option Clothing
                    option Accessories
                    option Entertainment/Media
                    option Hobby/Crafts
                    option Books
                    option Other
                input(type="submit" value="Create Listing" name="submit" class="btn btn-lg btn-primary btn-block")
            div.col-md-7
            
            //input(type="file" id="files" name="files[]" multiple)
            //output(id="list")
            
    script(src='/javascripts/addlistings.js')
