extends layout

block pageTitle

block pageContent
  //LEFTSIDE ACCORDIAN MENU
  .container-fluid.text-center.nopadding
    .wrapper
        div.row.col-md-2.leftnav.sidenav
          #Menu
            .list-group.panel

              // ACCORDIAN FOR ACCOUNT SETTINGS
              a.list-group-item.list-group-item-success(href='#AccountSettings') Account Settings
                i.fa.fa-caret-down
              #AccountSettings.collapse.in
                panel.list-group-item.btn-default(href='#ChangeInfo', data-toggle= "collapse") Change Account Information
                panel.list-group-item.btn-default(href='#ManageMembership', data-toggle= "collapse") Manage Membership
                
              // ACCORDIAN FOR LISTINGS
              a.list-group-item.list-group-item-success(href='#Listings', data-toggle= "collapse")
                | Listings
                i.fa.fa-caret-down
              #Listings.collapse.in
                panel.list-group-item.btn-default(href='#ViewSale', data-toggle= "collapse") View Your Sales
                panel.button.list-group-item.btn-default(href='#ShoppingList', data-toggle= "collapse") View Shopping List
              // ACCORDIAN FOR OPTIONS
              a.list-group-item.list-group-item-success(href='#Messages', data-toggle= "collapse")  Messages
                i.fa.fa-caret-down
              #Messages.collapse.in
                panel.list-group-item.btn-default(href='#ActiveConv', data-toggle= "collapse") Active Conversations
                panel.list-group-item.btn-default(href='#MessageHistory', data-toggle= "collapse") Message History
                
        div.row.col-md-2
        
        div.row.col-md-5
          #MiddleContent
            
            #Accountinfo
            .list-group.panel
              .panel-heading  Account Info
              #username.panel-body     Username: "username"
              #email.panel-body  Email: "user email"
              #number.panel-body Listings Posted: "number"
              
            #ChangeInfo.initiallyHidden
              h3 To change your information fill out the Fields below
              #changeuserinfo
              input#changeUserEmail(type='text', placeholder='Change Email', class="form-control")
              input#changePassword(type='password', placeholder='New Password', class="form-control")
              input(type="password", id="inputpasswordconf", class="form-control", placeholder="Re-enter Password")
              br
              button#btnChngInfo(class="btn btn-lg btn-primary btn-block") Change Account Info
                            
            #ManageMembership.initiallyHidden
              p Manage Membership

            #ViewSale.initiallyHidden
              p View Sales
              
            #ShoppingList.initiallyHidden
              p View Shopping List
              
            #ActiveConv.initiallyHidden
              p List of active Conversations
            
            #MessageHistory.initiallyHidden
              p  Message history
            
        div.row.col-md-2
        div.row.col-md-2.rightnav.sidenav
          #acctinfo
              .panel-heading  Recent Messages
              .panel-body.btn-md.btn-default  Message 1
              .panel-body.btn-md.btn-default  Message 2
              
    script.      //get user email
      var userEmail = sessionStorage.getItem('user');
      var username = "test"; 
    
      $.getJSON( '/users/getuser/' + userEmail, function( data ) {
        username = data[0].username;
        document.getElementById("email").innerHTML = "Email: " + userEmail;
        document.getElementById("username").innerHTML = "Username: " + username;
        });
      
      $.getJSON( '/listings/finduserlistings/' + userEmail, function( data ) {
        console.log(data.num);
        document.getElementById('number').innerHTML = "Post: " + data.num;
        });
     
   
   
   
