extends layout
  
block pageTitle
  |Testing Games, be calm
block pageContent
  script(src='Games/WebGLTest/TemplateData/UnityProgress.js') 
  body.template
    p.header
      .template-wrap.clear
        div.row
          div.col-md-3
          div.col-md-6
           canvas#canvas.emscripten(oncontextmenu='event.preventDefault()', height='600px', width='960px') 
          div.col-md-3 

      br
      div.row.col-md-9
      .fullscreen
        img(src='Games/WebGLTest/TemplateData/fullscreen.png', width='38', height='38', alt='Fullscreen', title='Fullscreen', onclick='SetFullscreen(1);')        
      .logo   
         
    script(type='text/javascript').
      var Module = {
      TOTAL_MEMORY: 268435456,
      errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
      compatibilitycheck: null,
      dataUrl: "Games/WebGLTest/Release/WebGL Build.data",
      codeUrl: "Games/WebGLTest/Release/WebGL Build.js",
      memUrl: "Games/WebGLTest/Release/WebGL Build.mem",
      };
    script(src='Games/WebGLTest/Release/UnityLoader.js')
