extends layout
mixin storeItem(source, name, price, description)
	div.col-sm-4
		div.thumbnail
			img(src=source)
			div.caption
				h4(class="pull-right")=price
				h4=name
				p=description
block pageTitle
	.container
		div.row
			#login.col-md-3
				//- form(name="login", action="/", method="post")
				h3(class="form-signin-heading") Sign in
				input(type="email", id="inputemail", class="form-control", placeholder="Email Address")
				input(type="password", id="inputpassword", class="form-control", placeholder="Password")
				br
				input(type="submit", value="login", class="btn btn-lg btn-primary btn-block", id="loginButton")

				h3(class="form-signin-heading") New? Signup today!
				#addUser
					input#inputUserName(type='text', placeholder='Username', class="form-control")
					input#inputUserEmail(type='text', placeholder='Email Address', class="form-control")
					input#inputUserFullname(type='text', placeholder='Full Name', class="form-control")
					input#inputPassword(type='text', placeholder='Password', class="form-control")
					input(type="passwordconf", id="inputpasswordconf", class="form-control", placeholder="Re-enter Password")
					br
					button#btnAddUser(class="btn btn-lg btn-primary btn-block") Register
			div.col-md-9
				br
				br
				br
				br
				#myCarousel.carousel.slide(data-ride="carousel")
					.carousel-inner
						.item.active
							img(src="http://placehold.it/1200x600",alt="first slide")
						.item
							img(src="http://placehold.it/1200x600",alt="second slide")
						.item
							img(src="http://placehold.it/1200x600",alt="third slide")

					ol.carousel-indicators
						li.active(data-target="#myCarousel", data-slide-to="0")
						li(data-target="#myCarousel", data-slide-to="1")
						li(data-target="#myCarousel", data-slide-to="2")
					a.left.carousel-control(href="#myCarousel", role="button", data-slide="prev")
						span.glyphicon.glyphicon-chevron-left
					a.right.carousel-control(href="#myCarousel", role="button", data-slide="next")
						span.glyphicon.glyphicon-chevron-right


block pageContent
	br
	div.row.container
		div.col-md-4
		div.col-md-4
			// USER LIST
			h2 User List
			#userList
					table
							thead
									th UserName
									th Email
									th Delete?
							tbody
			// /USER LIST
		div.col-md-4
	.container
		div.row
			+storeItem("http://placehold.it/320x150", "First Item", "$24.99", "See More")
			+storeItem("http://placehold.it/320x150", "Second Item", "$24.99", "See More")
			+storeItem("http://placehold.it/320x150", "Third Item", "$24.99", "See More")
	.container
		div.row
			+storeItem("http://placehold.it/320x150", "Fourth Item", "$24.99", "See More")
			+storeItem("http://placehold.it/320x150", "Fifth Item", "$24.99", "See More")
			+storeItem("http://placehold.it/320x150", "Sixth Item", "$24.99", "See More")
	div.row.container
		div.col-md-4
		div.col-md-4
			// LISTINGS LIST
			h2 Listings
			#listings
					table
							thead
									th Listing Name
									th Listing Price
									th Description
							tbody
			// /LISTINGS LIST
		div.col-md-4
