extends layout
block pageTitle
	.container
		div.row
			div.col-md-3
				form(name="login", action="/login", method="post")
					h3(class="form-signin-heading") Sign in
					input(type="email", id="inputemail", class="form-control", placeholder="Email Address")
					input(type="password", id="inputpassword", class="form-control", placeholder="Password")
					br
					input(type="submit", value="login", class="btn btn-lg btn-primary btn-block")
				form(name="register", action="/register", method="post")
					h3(class="form-signin-heading") New? Signup today!
					input(type="fname", id="inputfname", class="form-control", placeholder="First Name")
					input(type="lname", id="inputlname", class="form-control", placeholder="Last Name")
					input(type="email", id="inputemail", class="form-control", placeholder="Email Address")
					input(type="password", id="inputpassword", class="form-control", placeholder="Password")
					input(type="passwordconf", id="inputpasswordconf", class="form-control", placeholder="Re-enter Password")
					br
					input(type="submit", value="register", class="btn btn-lg btn-primary btn-block")
			div.col-md-9
				br
				br
				br
				br
				#myCarousel.carousel.slide(data-ride="carousel")
					.carousel-inner
						.item.active
							img(src="http://placehold.it/1200x600",alt="first slide")
						.item
							img(src="http://placehold.it/1200x600",alt="second slide")
						.item
							img(src="http://placehold.it/1200x600",alt="third slide")

					ol.carousel-indicators
						li.active(data-target="#myCarousel", data-slide-to="0")
						li(data-target="#myCarousel", data-slide-to="1")
						li(data-target="#myCarousel", data-slide-to="2")
					a.left.carousel-control(href="#myCarousel", role="button", data-slide="prev")
						span.glyphicon.glyphicon-chevron-left
					a.right.carousel-control(href="#myCarousel", role="button", data-slide="next")
						span.glyphicon.glyphicon-chevron-right


block pageContent
	br
	.container
		div.row
				div.col-sm-4
					div.thumbnail
						img(src="http://placehold.it/320x150")
						div.caption
							h4(class="pull-right")$24.99
							h4 First Product
							p See more
				div.col-sm-4
					div.thumbnail
						img(src="http://placehold.it/320x150")
						div.caption
							h4(class="pull-right")$24.99
							h4 Second Product
							p See more
				div.col-sm-4
					div.thumbnail
						img(src="http://placehold.it/320x150")
						div.caption
							h4(class="pull-right")$24.99
							h4 Third Product
							p See more
