extends layout
block pageTitle
 .container
  div.row
   div.col-hg-12
    #myCarousel.carousel.slide(data-ride='carousel')
     .carousel-inner
      .item.active
       img(src='images/carousel1.jpg',alt='first slide', style='width:1200px;height=600px')
      .item
       img(src='images/carousel2.jpg',alt='second slide', style='width:1200px;height=600px')
      .item
       img(src='images/carousel3.jpg',alt='third slide', width='1200px', max-height='600px')
    
     ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
     a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
     a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right

block pageContent
 .container  
  br
  div.row  
   div.col-md-3.bg-success Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum finibus quam et finibus. Duis quis volutpat sapien. Donec imperdiet metus arcu, in porttitor tellus venenatis id. Curabitur rutrum commodo velit, eu imperdiet dui suscipit ac. Pellentesque at nisl in purus ullamcorper mollis eget ut tellus. Nam a tellus quis enim eleifend maximus. Sed venenatis, sapien id feugiat facilisis, lacus ex malesuada justo, sit amet lobortis ligula sapien egestas lorem. Nunc eget enim in lectus dictum maximus ut sed odio. In varius erat nisi, et fringilla neque convallis at. Praesent et enim sit amet purus aliquet ornare et ut urna. Suspendisse non arcu sapien. Integer venenatis et lectus quis ultrices. Ut convallis iaculis tellus eget pulvinar. Maecenas consequat ligula sed pellentesque semper.
   div.col-md-6
   div.col-md-3.bg-success I edited something here, uh oh [Feature_Testing].
  br
  br
  div.row   
  .jumbotron
   .text-center Here's a convenient break in the page
  div.row
   div.col-md-12.bg-warning Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum finibus quam et finibus. Duis quis volutpat sapien. Donec imperdiet metus arcu, in porttitor tellus venenatis id. Curabitur rutrum commodo velit, eu imperdiet dui suscipit ac. Pellentesque at nisl in purus ullamcorper mollis eget ut tellus. Nam a tellus quis enim eleifend maximus. Sed venenatis, sapien id feugiat facilisis, lacus ex malesuada justo, sit amet lobortis ligula sapien egestas lorem. Nunc eget enim in lectus dictum maximus ut sed odio. In varius erat nisi, et fringilla neque convallis at. Praesent et enim sit amet purus aliquet ornare et ut urna. Suspendisse non arcu sapien. Integer venenatis et lectus quis ultrices. Ut convallis iaculis tellus eget pulvinar. Maecenas consequat ligula sed pellentesque semper.
  br
