extends layout

block pageTitle
  p junk

block pageContent
  script(src='/socket.io/socket.io.js')
  script(src='http://code.jquery.com/jquery-1.11.1.js')
  script.
    var socket = io.connect('localhost');
    socket.on("connect", function() {
      $('form').submit(function(){
        socket.emit('chat message', $('#message').val());
        $('#messages-area').append($('<li>').text($('#message').val()));
        $('#message').val('');
        return false;
      });
      socket.on('chat message', function(msg) {
        $('#messages-area').append($('<li>').text(msg));
      });
    });
    
  .container
    div.row
      div.col-md-4
      div.col-md-4
        ul(id="messages-area")
        form(action='')
          label(for='message') Message:
          input(type='text', message='message', id='message')
          button.btn().submit Send
          
      div.col-md-4
